/* Преливащ фон */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Преливащ фон */
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.search-section {
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.upload-section {
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

.uploaded-films {
    margin-top: 20px;
}

.film-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-item a {
    text-decoration: none;
    color: #4CAF50;
    margin-right: 10px;
}

.film-item a:hover {
    text-decoration: underline;
}

.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.watch-button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

.genre {
    font-style: italic;
    margin-right: 10px;
}
